= form_for current_user.remittances.build do |f|
  = f.select :recipient_id, User.all.map{ |user| [user.name, user.id] }, class: "form-control"
  = f.text_field :amount, class: "form-control"
  = f.text_area :message, class: "form-control"
  = f.submit "pay", class: "btn btn-lg btn-primary"
