%header.navbar.navbar-fixed-top.navbar-inverse
  .navbar-inner
    .container
      = link_to "mushroom", root_path, id: "logo"
      %nav.navbar-right
        %ul.nav.nav-pills
          %li= link_to I18n.t('menu.help'), help_path
          %li= link_to I18n.t('menu.courses'), courses_path
          - if signed_in? 
            %li= link_to I18n.t('menu.users'), users_path
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                = I18n.t 'menu.account'
                %span.caret
              %ul.dropdown-menu
                %li= link_to I18n.t('menu.profile'),  user_path(current_user)
                %li= link_to I18n.t('menu.settings'), edit_user_path(current_user)
                %li= link_to I18n.t('menu.finance'),  finance_user_path(current_user)
                %li.divider
                %li= link_to I18n.t('menu.sign_out'), signout_path, method: 'delete'
          - else
            %li= link_to I18n.t('menu.sign_in'), signin_path


